*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

/* content inside the slide menu */
 .check{
     width: fit-content;
 }

 .background{
    background: url(/assets/images/allOthers/20998.jpg);
    background-position: center;
    background-size: cover;
}
.poke-img{
    width: 65px;
}

.pokemon-img {
    text-align: center;
}

.text-info{
    text-align: justify;
}


h2{
    color: whitesmoke;
    text-align: center;
    margin: 50px auto ;
    width: 50%;
    border-radius: 15px;
}

#container{

    width: 90%;
    height: 1000px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 500px;
}

.btn{
    border-radius: 10px; 
 }

 

 .history{
     font-size: 28px;
     color: yellowgreen;
 }

#in{
    display: none;
}

/* -------------discription card--------- */
.card{
    border-radius: 8px;
}
.text-info{
    height: 380px;
    overflow-y: scroll;    
}

.text-info::-webkit-scrollbar{
    display: none;
}

.test1{
    display: none;
}
.moves{    
    height: 180px;
    overflow-y:scroll;
}

.moves::-webkit-scrollbar{
    display: none;
}
.evo-cont{

    padding-bottom: 100px;
    margin-top: 100px;
    opacity: 80%;
}
#card{
    border-radius: 15px;
    opacity: 50%;
    margin-top: 80px;
}

@media all and (max-width: 1024px){
    #card{        
        margin-top: 0px;
    }
}


@media all and (max-width: 768px){
    
    @media all and (max-width: 768px){
        .slider , h2{
            display: none;
        }
        
        #card{        
            margin-bottom: 100px;
        }

        .test1{
        display: inline-block;    
        opacity: 80%;     
        }
        .text-info{
            margin-top: 50px;
        }
}